---
import { Icon } from 'astro-icon/components'
import { version } from '../vars'
const year = new Date().getFullYear()
---

<div class='footer p-3 flex-none bg-white/75 flex content-center flex-col sm:flex-row'>
	<div class='flex flex-col justify-center grow mb-2 sm:mb-0'>
		<h1 class='text-2xl'><Icon name="bi:stopwatch-fill" inline /> The Hyper Flexible Timer</h1>
	</div>
	<div class='text-right text-sm'>
		<p>
			<a href='about/' target='_blank' class='text-sky-600 hover:underline'>About</a>
			–
			<a href='https://github.com/Hans5958/hyper-flexible-timer' target='_blank' class='text-sky-600 hover:underline'>Repository</a>
		</p>
		<p>Version { version } – Copyright © { year } Hans5958</p>
	</div>
</div>

<style>
svg[inline][data-icon] {
	width: 1em;
	height: 1em;
	vertical-align: -0.125em;
	display: inline;
}
</style>